<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-BKL3FJL\SQLSERVER2016OBJ;Initial Catalog=Pastry_Management_System;Persist Security Info=True;User ID=sa;Password=ashan19960129" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>